html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(${homeBanner});
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #c20608;
  color: white;
}

.card {
  background-color: #c20608; /* Change this to red if needed */
}

/* Add any other styles you need for your application */


